name: Deploy

on:
  workflow_dispatch:
    inputs:
      env:
        description: "Environment to deploy to"
        required: true
        default: dev
        type: choice
        options:
          - development
          - production

jobs:
  deploy:
    runs-on: ubuntu-latest
    # Detta knyter jobben till valt environment. Prod kommer kräva review.
    environment:
      name: ${{ inputs.env }}
    steps:
      - name: Print target environment
      
        run: |
          echo "deploy to ${{ github.environment }}"

      - name: Visa maskerad hemlighet
        env:
          # Mappa GitHub Secret 'MY_API_KEY' till en lokal miljövariabel 'MIN_NYCKEL'
          MY_API_KEY: ${{ secrets.MY_API_KEY }}
        run: echo "My API key is ${{ secrets.MY_API_KEY }}"
